/* Cette page est destine a rattrappe le pb de marge sur l affichage du main 
sur les pages evenements.php et discographie.php* au niveau du header*/

.mainBis2{
    margin-left: auto;
}


.mainBis {
margin-top: 10%;


}
.identification{
    font-size: 2rem;
}
.contour {
    box-shadow: 0.4rem 0.4rem 0.4rem  gray;
    border: 0.7rem groove white;
}  

.Espace{
    margin: 10%;
}

.Espace1{
   margin-top: 0%;
}
@media only screen and (min-width: 622px) and (max-width: 968px)
{
    .Espace1{
        margin-top: 15%;
    }
	
}
@media only screen and  (max-width: 621px)
{
    .Espace1{
        margin-top: 35%;
    }
	
}
.presentation{
    font-size: 16px;
}
